[Unit]
Description=HHVM FastCGI application server
After=syslog.target network.target

[Service]
EnvironmentFile=/etc/hhvm/systemd-%i.conf

PIDFile=/run/hhvm/hhvm-%i.pid
PrivateTmp=true
ExecStart=/usr/bin/hhvm --mode server --config=/etc/hhvm/%i.ini --user ${User} -vPidFile=/run/hhvm/hhvm-%i.pid

[Install]
WantedBy=multi-user.target
